
body {
    margin: 0;
    padding: 0;
}
.home-container {
    display: flex;
    align-items: center;
    min-width: 1000px; /* Asegura un ancho mínimo para evitar que el diseño se rompa en pantallas pequeñas */
    width: 100vw;
    justify-content: center;
    padding: 4rem 1rem; 
    background-color: #f9fafb;
    min-height: calc(100vh - 4rem);
}


.home-content {
    max-width: 42rem; 
    text-align: center;
}

.home-title {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 800; 
    color: #111827; 
    letter-spacing: -0.025em;
}


.home-subtitle {
    margin-top: 1rem; 
    font-size: 1.125rem; 
    line-height: 1.75rem;
    color: #4b5563; 
}

.button-group {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.cta-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-size: 1rem; 
    font-weight: 500; 
    text-decoration: none;
    border-radius: 0.375rem;
    transition: background-color 0.2s, box-shadow 0.2s, border-color 0.2s;
    cursor: pointer;
}


.cta-button-primary {
    background-color: #3b82f6; 
    color: #ffffff; 
    border: 1px solid transparent;
}

.cta-button-primary:hover {
    background-color: #2563eb;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}


.cta-button-secondary {
    background-color: #ffffff;
    color: #374151;
    border: 1px solid #d1d5db;
}

.cta-button-secondary:hover {
    background-color: #f9fafb;
    border-color: #9ca3af;
}

